$gris: #dddd;
$white: #fff;
$green: #4caf50;
$redDanger: #ff070726;
$red: #ae5252;
$success: #b7d177bf;
$blackThin: #495057;
$grey2: #ced4da;

body,
html {
    height: 100%;
    margin: 0;
    background: #d7d2d2dd;
}
#root {
    height: calc(100% - 5%);
    padding-top: 25px;
}

.container {
    margin-top: 48px;
    padding-top: 30px;
}

a.button {
    padding: 10px;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    min-height: 10px;
    border-radius: 15px;
    background-color: $green;
    color: $white;
    display: block;
}

a {
    cursor: pointer;
}

a.button svg {
    margin-right: 5px;
}

a.button:hover {
    background-color: #3333338c;
}
.saveButton {
    border-radius: 10px;
    color: $white;
    background-color: #0069d9;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $gris;
}

table th,
td {
    border: 1px solid $gris;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

label {
    display: block;
}

input:not([type="submit"]):not(.MuiAutocomplete-input) {
    height: 35px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $blackThin;
    background-color: $white;
    border: 1px solid $grey2;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px;
}

select {
    height: 45px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $blackThin;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $grey2;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px;
}

.alertMessage .alert {
    padding: 18px;
    border: 1px solid $gris;
    border-radius: 15px;
    display: block;
}
p.alertMessage {
    margin-top: 10px;
}

.alert.error {
    background-color: $redDanger;
    color: $red;
}

.alert.success {
    background-color: $success;
}

.MuiAutocomplete-root {
    margin-top: 10px;
    width: 100% !important;
}

//Header
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

ul.horizontal a,
.cerrarSesion button {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal a:hover:not(.active),
.cerrarSesion button:hover {
    background-color: #000;
}

ul.horizontal a.active {
    background-color: $green;
}

.cerrarSesion {
    float: right;
}

//Home

.homebuttons {
    text-align: center;
}
.homebuttons a {
    display: inline-block;
    margin: 0 5px;
}
.buttonlist {
    position: relative;
}

.buttonlist a {
    position: absolute;
    right: 0;
    top: -60px;
}

// Login
.loginform {
    max-width: 600px;
    margin: 0 auto;
    background-color: $white;
    padding: 30px;
    border-radius: 18px;
}

//Pages
.indexcont {
    padding: 30px;
    border-radius: 18px;
    overflow: auto;
    background-color: $white;
    width: 80%;
    margin: 0 auto;
}
