// @import '~@sweetalert2/theme-dark/dark.scss';

$gris: #dddd;
$white: #fff;
$green: #4caf50;
$redDanger: #fedcdc;
$red: #ae5252;
$success: #78d177bf;
$grey2: #ced4da;
$loading: #18191a9c;

$background: #18191a;
$blackThin: #242526;
$inputColor: #b0b3b8;
$backgroundInput: #3a3b3c;
$text: #fff;
$activeColor: #2d88ff;
$container: #242526;
$color: #fff;
$borderInput: transparent;
$radiusButton: 0.25rem;
$colorButton: #0069d9;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
html {
    height: 100%;
    margin: 0;
    background: $background;
    color: $color;
}

#root {
    height: calc(100% - 5%);
    padding-top: 25px;
}

.container {
    margin-top: 48px;
    padding-top: 30px;
}

a.button {
    padding: 10px;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    min-height: 10px;
    border-radius: $radiusButton;
    background-color: $colorButton;
    color: $white;
    display: block;
}

a {
    color: $activeColor;
    cursor: pointer;
}

a.button svg {
    margin-right: 5px;
}

a.button:hover {
    background-color: #0069d985;
}

.saveButton {
    border-radius: 10px;
    color: $white;
    background-color: $colorButton;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: $radiusButton;
    border-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}

.MuiInputLabel-outlined {
    border: $borderInput !important;
    color: $inputColor !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
    border: $borderInput !important;
    color: $inputColor !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border: $borderInput !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    background-color: $backgroundInput;
    border: $borderInput !important;
}
.MuiIconButton-label{
    color: $text;
}

table {
    background-color: $backgroundInput;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $gris;
}

table th,
td {
    border-radius: 15px;
    border: 1px solid $inputColor;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

label {
    display: block;
}

input:not([type="submit"]):not(.MuiAutocomplete-input) {
    border-color: $borderInput !important;
    height: 35px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $inputColor;
    background-color: $backgroundInput;
    border: 1px solid $grey2;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px;
}

select {
    border-color: $borderInput !important;
    height: 45px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $inputColor;
    background-color: $backgroundInput;
    background-clip: padding-box;
    border: 1px solid $grey2;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px;
}

.alertMessage .alert {
    padding: 18px;
    border: 1px solid $gris;
    border-radius: 15px;
    display: block;
    margin-bottom: 15px;
}
p.alertMessage {
    margin-top: 10px;
}

.alert.error {
    background-color: $redDanger;
    color: $red;
}

.alert.success {
    background-color: $success;
}

.MuiAutocomplete-root {
    margin-top: 10px;
    width: 100% !important;
}

//Loading

.sweet-loading {
    text-align: center;
    background: $loading;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Header
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $blackThin;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

ul.horizontal a,
.cerrarSesion button {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal a:hover:not(.active),
.cerrarSesion button:hover {
    background-color: #0069d985;
}

ul.horizontal a.active {
    background-color: $activeColor;
}

.cerrarSesion {
    float: right;
}

//Home

.homebuttons {
    text-align: center;
}
.homebuttons a {
    display: inline-block;
    margin: 0 5px;
}
.buttonlist {
    position: relative;
}

.buttonlist a {
    position: absolute;
    right: 0;
    top: -60px;
}

// Login
.loginform {
    max-width: 600px;
    margin: 0 auto;
    background-color: $container;
    padding: 30px;
    border-radius: 18px;
}

.imageContainer {
    text-align: center;
}

.imageContainer > div {
    margin: 0 8px;
    display: inline-block;
}
.imageContainer img {
    width: 150px;
}

//containers
.indexcont {
    padding: 30px;
    border-radius: 18px;
    overflow: auto;
    background-color: $container;
    width: 80%;
    margin: 0 auto;
}

.MuiInputBase-root {
    background-color: $color;
}
